<html>
<head>
    <meta charset="UTF-8">
    <!-- CDN(Vue.jsが用意してくれているサーバー)から読み込み -->
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<style>
    .blue {
        color: blue;
    }
    .red {
        color: red;
    }
</style>


<div id="app1">
    app1: {{ message }}
</div>
<div id="app2">
    <p>{{ count }}回クリックしました</p>
    <button v-on:click="increment">カウントをふやす</button>
</div>

<br>
<div id="app3">
    <span v-if="seen">あいうえお</span>
    <button v-on:click="off">表示ON,OFF</button>
</div>

<div id="app4">
    <p v-bind:class="class1">{{ class1 }}です</p>
</div>

<div id="app5">
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ul>
</div>

<div id="app6">
    <ul>
        <template1></template1>
        <template1></template1>
        <template1></template1>
    </ul>
</div>

<div id="app7">
    <ul>
        <template2 prop1="次へ"></template2>
        <template2 prop1="前へ"></template2>
        <template2 :prop1="varString"></template2>
    </ul>
</div>

<div id="app8">
    <template8
        v-for="item in itemList"
        :prop81="item"
        prop82="です"
    ></template8>
</div>

<script>
    const App1 = {
        data() {
            return {
                message: "Hello!"
            }
        },
    }
    app1 = Vue.createApp(App1)
    app1.mount('#app1')


    const App2 = {
        data() {
            return {
                count: 0
            }
        },
        methods: {
            increment: function() {
                this.count = (this.count  + 1) * 3
            }
        }
    }
    app2 = Vue.createApp(App2)
    app2.mount('#app2')


    const App3 = {
        data() {
            return {
                seen: true
            }
        },
        methods: {
            off: function() {
                this.seen = !this.seen
            }
        }
    }
    app3 = Vue.createApp(App3)
    app3.mount('#app3')


    const App4 = {
        data() {
            return {
                class1: "blue"
            }
        },
        methods: {
        }
    }
    app4 = Vue.createApp(App4)
    app4.mount('#app4')


    const App5 = {
        data() {
            return {
                todos: [
                    { text: 'PHP'},
                    { text: 'Ruby'},
                    { text: 'Python'},
                ]
            }
        },
        methods: {
        }
    }
    app5 = Vue.createApp(App5)
    app5.mount('#app5')


    const App6 = {}
    const app6 = Vue.createApp(App6)
    app6.component('template1', {
        template: `
            <button>componentボタン</button>
            <br>
            `
        })
    app6.mount('#app6')


    const App7 = {
        data() {
            return {
                varString: "Hello!"
            }
        },
    }
    const app7 = Vue.createApp(App7)
    app7.component('template2', {
        props: ['prop1'],
        template: `
            <button>{{prop1}}</button>
            <br>
        `
    })
    app7.mount('#app7')

    const App8 = {
        data() {
            return {
                itemList: [
                    {id: 0, text: '0番'},
                    {id: 1, text: '1番'},
                    {id: 2, text: '2番'}
                ]
            }
        }
    }
    const app8 = Vue.createApp(App8)
    app8.component('template8', {
        props: ['prop81', 'prop82'],
        template: `
            <li>{{prop81.id}}は{{prop81.text}}{{prop82}}</li>
        `
    })


</script>

</body>
</html>